<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Meals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Meals</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-button shape="round" (click) = "calories()"> Search by Calories </ion-button> <br/>
    <ion-button shape="round" (click) = "food()"> Search by Food Item </ion-button> <br/>
    <ion-button shape="round" (click) = "ingredients()"> Search by Ingredients </ion-button>
</ion-content>
