<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text = "" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title >Search food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="foodList" (ngSubmit)="onFormSubmit()">
      
        <ion-label> What food do you wish to search? </ion-label>
        <ion-input placeholder="food" type = "text" formControlName="food" required> </ion-input>    
        <ion-button type="submit" color="primary" shape="full" expand="block">Submit form</ion-button>
    </form>
  </ion-list> 
  
  <ion-content>
    <ion-card *ngFor="let recipe of Recipes" >
      <img  width="200" height="200" src = "{{recipe.image}}"/>
      <ion-card-header>
        {{recipe.title}}
      </ion-card-header>
      
    </ion-card>
  </ion-content>
<!--<ion-button shape="round" (click) = "choice()"> Generate </ion-button> <br/>-->
</ion-content>