<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-buttons>
        <ion-back-button text = "" icon="chevron-back-outline">
        </ion-back-button>
      </ion-buttons>
      Stored Meals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stored Meals</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-button shape="round" (click) = "searchCalories()"> Saved Calorie Search </ion-button> <br/>
    <ion-button shape="round" (click) = "searchFood()"> Saved Food Item Search </ion-button> <br/>
    <ion-button shape="round" (click) = "searchIngredients()"> Saved Ingredients Search </ion-button> <br/>
  </ion-list>

  <ion-content>
    <ion-card *ngFor="let calories of caloriesData" >
      <ion-card-content width="200" height="200">
        Calorie id:  {{calories._id}} <br />
        Calorie Max Number: {{calories.maxCalories}} 
       </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-content>
    <ion-card *ngFor="let ingredient of ingredientsData" >
      <ion-card-content width="200" height="200">
        Ingredients id:  {{ingredient._id}} <br />
        Ingredients: {{ingredient.ingredients}} 
       </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-content>
    <ion-card *ngFor="let food of foodData" >
      <ion-card-content width="200" height="200">
        Food id:  {{food._id}} 
        Food Item: {{food.food}} 
       </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
