<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text = "" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title >Search MealType</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]= "mealType">
      <ion-list-header>
        <ion-label> What type of meal?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label> Breakfast </ion-label>
        <ion-radio name="meal" value="breakfast" slot="end"> </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label> Brunch </ion-label>
        <ion-radio name="meal" value="brunch" slot="end"> </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label> Lunch </ion-label>
        <ion-radio name="meal" value="lunch" slot="end"> </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label> Tea </ion-label>
        <ion-radio name="meal" value="tea" slot="end"> </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label> Supper </ion-label>
        <ion-radio name="meal" value="supper" slot="end"> </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label> Dinner </ion-label>
        <ion-radio name="meal" value="dinner" slot="end"> </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-label> How many servings? </ion-label>
    <ion-input placeholder="000" type="number" [(ngModel)] = "servings"></ion-input>
  </ion-list>
<ion-button shape="round" (click) = "choice()"> Generate </ion-button> <br/>
</ion-content>
