<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text = "" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title >Search MealType</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label> What type of meal? - Breakfast, Lunch or Dinner</ion-label>
    <ion-input placeholder="meal" type="number"> </ion-input>

    <ion-button shape="round" (click) = "choice()"> Generate </ion-button> <br/>
    
  </ion-list>
</ion-content>
