<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text = "" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>SearchCalories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <form [formGroup] = "caloriesList" (ngSubmit) = "onFormSubmit()">
      
      <ion-label> Maximum number of calories per person? </ion-label>
      <ion-input placeholder="000" type="number" formControlName = "maxCalories" required> </ion-input>
     <!-- <ion-button shape="round" (click) = "choice()"> Generate </ion-button> <br/> -->
      <ion-button shape="round" (click) = "searchRecipes()"> Debug </ion-button> <br/>
      <ion-button type="submit" color="primary" shape="full" expand="block">Submit form</ion-button>
    </form>
    </ion-list>

  <ion-content>
    <ion-card *ngFor="let recipe of Recipes" >
      <img  width="200" height="200" src = "{{recipe.image}}"/>
      <ion-card-header>
        {{recipe.title}}
      </ion-card-header>
      <ion-card-content width="200" height="200">
       Calories:  {{recipe.calories}} 
       Carbs: {{recipe.carbs}} 
       Fat: {{recipe.fat}} 
       Protein: {{recipe.protein}} 
      </ion-card-content>
      
    </ion-card>
  </ion-content>
 
</ion-content>
