<ion-header>
  <ion-toolbar>
    <ion-title>SearchCalories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label> How many meals are required? </ion-label>
    <ion-input placeholder="000" type="number"> </ion-input>
    <ion-label> Maximum number of calories per person? </ion-label>
    <ion-input placeholder="000" type="number"> </ion-input>
    <ion-label> How many people are eating? </ion-label>
    <ion-input placeholder="000" type="number"> </ion-input>
    <ion-label> What type of meal(s) - breakfast, Lunch or dinner? </ion-label>
    <ion-input placeholder="  " type="text"> </ion-input>
    <button (click) = "save()" ion-button round> Save </button>
  </ion-list>
</ion-content>
