<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text = "" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Search Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <form [formGroup]="ingredientsList">
      <ion-item *ngFor="let control of ingredientsList.controls | keyvalue">
        <ion-input required type="text" [formControlName]="control.key" placeHolder="ingredient"></ion-input>
        <ion-icon (click)="removeIngredient(control)" name="remove-ingredient"></ion-icon>
      </ion-item>
    </form>
  </ion-list>
  <ion-button expand="full" color="light" (click)="addIngredient()">Add Ingredient</ion-button>
  <ion-button shape="round" (click) = "choice()"> Generate </ion-button> <br/>
</ion-content>
