<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text = "" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Search Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="ingredientsList" (ngSubmit)="onFormSubmit()">
      <ion-label> Ingredients </ion-label>
      <ion-input placeholder="ingredient1" type="text" formControlName="ingredient1" required> </ion-input>  
      <ion-input placeholder="ingredient2" type="text" formControlName="ingredient2"> </ion-input>
      <ion-input placeholder="ingredient3" type="text" formControlName="ingredient3"> </ion-input>
      <ion-input placeholder="ingredient4" type="text" formControlName="ingredient4"> </ion-input>
      <ion-input placeholder="ingredient5" type="text" formControlName="ingredient5"> </ion-input>  
      <ion-button type="submit" color="primary" shape="full" expand="block">Submit form</ion-button>
    </form>
  <ion-button type="submit" color="light">Generate Meal</ion-button>
</ion-list>
</ion-content>
